/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #C41535;
}

a:hover {
  color: #e62e5c;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #C41535;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #e62e5c;
  color: #fff;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #C41535;
  border-top-color: #ffe9e3;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

#header.header-scrolled, #header.header-inner-pages {
  background: rgba(21, 34, 43, 0.85);
  padding: 12px 0;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  #header {
    padding: 12px 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 12px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: rgba(255, 255, 255, 0.9);
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 3px;
}

.nav-menu > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #C41535;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
  visibility: visible;
  width: 100%;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #fff;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 12px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #15222b;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #C41535;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Get Startet Button */
.get-started-btn {
  margin-left: 25px;
  color: #fff;
  border-radius: 4px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  border: 2px solid #fff;
}

.get-started-btn:hover {
  background: #C41535;
  color: #fff;
  border-color: #C41535;
}

@media (max-width: 768px) {
  .get-started-btn {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #15222b;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #C41535;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(4, 7, 9, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
  position: relative;
  padding: 0;
}

#hero:before {
  content: "";
  background: rgba(13, 20, 26, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero .hero-container span {
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 32px;
}

#hero .btn-get-started {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  padding: 10px 35px 10px 35px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #C41535;
  border: 2px solid #C41535;
}

#hero .btn-get-started:hover {
  border-color: #fff;
  background: rgba(255, 255, 255, 0.1);
}

#hero .btn-watch-video {
  font-size: 16px;
  display: inline-block;
  padding: 10px 25px 8px 40px;
  transition: 0.5s;
  margin-left: 25px;
  color: #fff;
  position: relative;
}

#hero .btn-watch-video i {
  color: #fff;
  font-size: 32px;
  position: absolute;
  left: 0;
  top: 7px;
  transition: 0.3s;
}

#hero .btn-watch-video:hover i {
  color: #C41535;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f0f4f8;
}

.section-title {
  padding-bottom: 40px;
  text-align: center;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #5c8eb0;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #ff8664;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #000000;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about {
  background: url("../img/bg/4.png") center center no-repeat fixed;
  background-size: cover;
}

#about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

#about .content ul {
  list-style: none;
  padding: 0;
}

#about .content ul li {
  padding-bottom: 10px;
}

#about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #cc1616;
}

#about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Companies
--------------------------------------------------------------*/
#companies {
  background: url("../img/bg/1.png") center center no-repeat fixed;
  background-size: cover;
  padding: 15px 0;
  text-align: center;
}

#companies .section-title p {
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

#companies .section-title p::after {
  content: '';
  position: absolute;
  display: block;
  width: 75px;
  height: 6px;
  background: #C41535;
  bottom: 0;
  left: 45%;
}

#companies img {
  max-width: 70%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
}

#companies img:hover {
  filter: none;
  transform: scale(1.15);
}

@media (max-width: 768px) {
  #companies img {
    max-width: 40%;
  }
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
#sello {
  background: linear-gradient(45deg, #C41535, #000000);
}

#sello h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#sello p {
  color: #fff;
}

#sello .cta-btn-container img {
  max-width: 150px;
}

#sello .text-center {
  margin: auto;
}

@media (max-width: 1024px) {
  #sello {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  #sello .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/*--------------------------------------------------------------
# Philosophy
--------------------------------------------------------------*/
#philosophy {
  background: url("../img/bg/2.png") center center no-repeat fixed;
  background-size: cover;
}

#philosophy .section-title p {
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

#philosophy .section-title p::after {
  content: '';
  position: absolute;
  display: block;
  width: 75px;
  height: 6px;
  background: #ffffff;
  bottom: 0;
  left: 47%;
}

#philosophy .section-title p {
  color: #ffffff;
}

#philosophy .content {
  padding: 30px;
  background: #009970;
  border-radius: 4px;
  color: #fff;
}

#philosophy .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

#philosophy .content p {
  margin-bottom: 30px;
}

#philosophy .content .more-btn {
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  padding: 6px 30px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: all ease-in-out 0.4s;
}

#philosophy .content .more-btn i {
  font-size: 14px;
}

#philosophy .content .more-btn:hover {
  color: #009970;
  background: #fff;
}

#philosophy .icon-boxes .icon-box {
  text-align: center;
  border-radius: 10px;
  background: rgb(58, 58, 60);;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  width: 100%;
  transition: 0.3s;
}

#philosophy .icon-boxes .icon-box img {
  max-width: 30%;
  margin-bottom: 30px;
}

#philosophy .icon-boxes .icon-box h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  margin: 0 0 30px 0;
}

#philosophy .icon-boxes .icon-box p {
  font-size: 15px;
  color: #e3e3e3e3;
}

#philosophy .icon-boxes .icon-box:hover {
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
}

/*--------------------------------------------------------------
# Values
--------------------------------------------------------------*/
#values {
  background: url("../img/bg/1.png") center center no-repeat fixed;
  background-size: cover;
  position: relative;
}

#values .section-title p {
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

#values .section-title p::after {
  content: '';
  position: absolute;
  display: block;
  width: 75px;
  height: 6px;
  background: #C41535;
  bottom: 0;
  left: 46%;
}

#values .icon-box {
  margin-bottom: 20px;
  text-align: center;
}

#values .icon {
  display: flex;
  justify-content: center;
}

#values .icon img {
  max-width: 25%;
  margin-bottom: 20px;
  border-radius: 50%;
  transition: 0.5s;
  overflow: hidden;
  padding: 10px;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
}

#values .icon-box:hover .icon img {
  box-shadow: 0px 0 25px rgba(192, 63, 63, 0.3);
}

#values .title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
  padding-bottom: 15px;
}

#values .title a {
  color: #444444;
  transition: 0.3s;
}

#values .title a:hover {
  color: #cf2c2e;
}

#values .title::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #cf2c2e;
  bottom: 0;
  left: calc(50% - 25px);
}

#values .description {
  line-height: 24px;
  font-size: 20px;
}

/*--------------------------------------------------------------
# Axis
--------------------------------------------------------------*/
#axis {
  background: url("../img/bg/1.png") center center no-repeat fixed;
  background-size: cover;
}

#axis .section-title p {
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

#axis .section-title p::after {
  content: '';
  position: absolute;
  display: block;
  width: 75px;
  height: 6px;
  background: #C41535;
  bottom: 0;
  left: 46%;
}

#axis .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  background: #f6f6f6;
  transition: ease-in-out 0.3s;
}

#axis .icon-box img {
  max-width: 25%;
  padding-right: 10px;
  line-height: 1;
}

#axis .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
}

#axis .icon-box h3 a {
  color: #222222;
  transition: ease-in-out 0.3s;
}

#axis .icon-box h3 a:hover {
  color: #3498db;
}

#axis .icon-box:hover {
  background: #eef7fc;
}

@media (max-width: 768px) {
  #axis .icon-box {
    margin-top: 1rem;
  }
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
#cta {
  background: url("../img/cta_bg.jpg") center center no-repeat fixed;
  background-size: cover;
  position: relative;
  padding: 80px 0;
}

#cta:before {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#cta p {
  color: #fff;
}

#cta .cta-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: #C41535;
}

#cta .cta-btn:hover {
  background: #fff;
  color: #C41535;
}

@media (max-width: 1024px) {
  #cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  #cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/*--------------------------------------------------------------
# Description Companies
--------------------------------------------------------------*/
#desc_companies {
  background: url("../img/bg/1.png") center center no-repeat fixed;
  background-size: cover;
}

#desc_companies .content + .content {
  margin-top: 100px;
}

#desc_companies .content {
  vertical-align: middle;
}

#desc_companies .content h3 {
  font-weight: 600;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  margin: auto;
}

#desc_companies .content p {
  font-size: 18px;
  margin: auto;
  text-align: justify;
}

#desc_companies .content img {
  max-width: 80%;
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
}

#desc_companies .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
#team {
  background: url("../img/bg/4.png") center center no-repeat fixed;
  background-size: cover;
}

#team .section-title p {
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

#team .section-title p::after {
  content: '';
  position: absolute;
  display: block;
  width: 75px;
  height: 6px;
  background: #C41535;
  bottom: 0;
  left: 46%;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  background: #fff;
}

#team .member img {
  max-width: 60%;
  border-radius: 50%;
  margin: 0 0 30px 0;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

#team .member p {
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #aaaaaa;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  color: #919191;
  transition: 0.3s;
}

#team .member .social a:hover {
  color: #cc1616;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/*--------------------------------------------------------------
# Our Companies
--------------------------------------------------------------*/
#our_companies {
  background: url('../img/bg/2.png') center no-repeat;
  background-size: cover;
  padding-bottom: 80px;
}

#our_companies .section-title h2 {
  color: #ffffff;
}

#our_companies .icon-box {
  padding: 50px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  transition: all 0.3s;
  border-radius: 5px;
  text-align: center;
}

#our_companies .icon-box:hover {
  transform: scale(1.08);
}

#our_companies .icon {
  margin-bottom: 15px;
}

#our_companies .icon img {
  max-width: 100%;
  padding: 20px;
}

#our_companies .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

#our_companies .title a, #our_companies .description a {
  color: #030303;
  transition: 0.3s;
}

#our_companies .title a:hover, #our_companies .description a:hover {
  color: #e62e5c;
}

#our_companies .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact {
  background: url("../img/bg/4.png") center center no-repeat fixed;
  background-size: cover;
}

#contact .section-title p {
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

#contact .section-title p::after {
  content: '';
  position: absolute;
  display: block;
  width: 75px;
  height: 6px;
  background: #C41535;
  bottom: 0;
  left: 46%;
}

#contact .info {
  width: 100%;
}

#contact .info i {
  font-size: 20px;
  color: #C41535;
  float: left;
  width: 44px;
  height: 44px;
  background: #fdeff2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

#contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #493c3e;
}

#contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #816a6e;
}

#contact .info .email, #contact .info .phone {
  margin-top: 40px;
}

#contact .info .email:hover i, #contact .info .address:hover i, #contact .info .phone:hover i {
  background: #C41535;
  color: #fff;
}

#contact .php-email-form {
  width: 100%;
}

#contact .php-email-form .form-group {
  padding-bottom: 8px;
}

#contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

#contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

#contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

#contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

#contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

#contact .php-email-form input, #contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#contact .php-email-form input:focus, #contact .php-email-form textarea:focus {
  border-color: #C41535;
}

#contact .php-email-form input {
  height: 44px;
}

#contact .php-email-form textarea {
  padding: 10px 12px;
}

#contact .php-email-form button[type="submit"] {
  background: #C41535;
  border: 0;
  padding: 10px 28px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

#contact .php-email-form button[type="submit"]:hover {
  background: #e62e5c;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
#breadcrumbs {
  padding: 15px 0;
  background: #f0f4f8;
  min-height: 40px;
  margin-top: 66px;
}

#breadcrumbs h2 {
  font-size: 28px;
  font-weight: 400;
}

#breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

#breadcrumbs ol li + li {
  padding-left: 10px;
}

#breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #263d4d;
  content: "/";
}

@media (max-width: 992px) {
  #breadcrumbs {
    margin-top: 58px;
  }
  #breadcrumbs .d-flex {
    display: block !important;
  }
  #breadcrumbs ol {
    display: block;
  }
  #breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #121d24;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-top {
  background: #15222b;
  border-bottom: 1px solid #1d303c;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 28px;
  margin: 0 0 15px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #C41535;
  color: #fff;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #e62e5c;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #C41535;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #C41535;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
  background: #ff5e31;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  transition: 0.3s;
}
